.nav-item {
  float: left;
  margin: {
    left: 0px;
    right: 0.8em;
    bottom: 0.8em;
    top: 0.8em;
  }
  a {
    font-size: 1.5em;
    text-decoration: none;
    color: $primary-text;
    &:hover {
      color: $brand-text;
    }
  }
}

.nav-item-active {
  a {
    color: $brand-text;
  }
}
