<h1 class="styleguide--header">Article</h1>
<hr/>
<article class="article">
  <header class="article-header">
    <h1>{{header}}</h1>
    <h4>{{date}}</h4>
  </header>
  <section class="article-content">
    <p>
      {{paragraph}}
    </p>

    <blockquote class="article-blockquote">
      {{blockquote}}
    </blockquote>

    <p>
      {{paragraph}}
    </p>

    <blockquote class="article-blockquote">
      {{blockquote}}
      <footer>
        - {{cite}}
      </footer>
    </blockquote>

  </section>
</article>
