.page-header {
  float: left;
  width: 100%;
  display: block;
  h1 {
    display: block;
    float: left;
    color: $brand-text;
    font-size: 2em;
    @media (min-width: 503px) {
      font-size: 3em;
    }
  }
  h4 {
    display: block;
    float: left;
    padding: {
      top:1.3em;
      left:0.2em;
    }
    font-size: 0.8em;
    @media (min-width: 503px) {
      font-size: 1.5em;
      padding: {
        top:1em;
        bottom:1em;
        left:0.2em;
        right:1em;
      }
    }
    color: $brand-tertiary;
  }
  margin: {
    top: 0.8em;
    left: 0.8em;
    right: 0.8em;
    bottom: 0;
  }
}